## Lighthouse Labs
### W02D3 Other Data Types

Instructor: Socorro Dominguez  
June 01, 2021

## Agenda
1. Tabular data and tidy data 
* What other data types?

## What is tabular data?
- each row is a single observation
- variables are in columns

What is **tidy data**? 

- This concept stems from a paper written by renowned data scientist Hadley Wickham in 2014.

- We tidy our data so that we can create a standard across multiple analysis tools. It changes the focus from figuring out the logistics of how the data is structured, to answering the actual analysis question being asked.

Tidy data satisfies the following three criteria:

- Each row is a single observation,
- Each variable is a single column, and
- Each value is a single cell (i.e., its row, column position in the dataframe is not shared with another value)

## Tidy data

<img src="https://d33wubrfki0l68.cloudfront.net/6f1ddb544fc5c69a2478e444ab8112fb0eea23f8/91adc/images/tidy-1.png" width="800" />

What is a variable and an observation may depend on your immediate goal.

## Is the example tidy? (True / False)
*Example source: https://garrettgman.github.io/tidying/*

**Question: What variables are associated with the number of TB cases?**


| country | year  | cases_per_capita |
|---------|-------|---|
| Afghanistan | 1999|      745/19987071
|Afghanistan |2000    | 2666/20595360
|      Brazil |1999|   37737/172006362
|      Brazil |2000  | 80488/174504898
|      China |1999| 212258/1272915272
|      China |2000 |213766/1280428583

## Is the example tidy?

**Question: What variables are associated with the number of TB cases?**

This data is tidy, true or false?


| country | cases (year=1999) | cases (year=2000)| population (year=1999) | population (year=2000)|
|---------|-------|-------|-------|-------|
| Afghanistan |   745 |  2666 |  19987071 |  20595360 |
|  Brazil | 37737 | 80488 | 172006362 | 174504898 |
|  China | 212258 | 213766 | 1272915272 | 1280428583 |

## Is the example tidy?

**Question: What variables are associated with the number of TB cases?**

This data is tidy, true or false?

| country | year  | cases | population |
|---------|-------|-------|------------|
| Afghanistan | 1999  |  745  | 19987071|
| Afghanistan | 2000 |  2666 |  20595360|
|Brazil |1999 | 37737  |172006362|
| Brazil| 2000 | 80488 | 174504898|
| China | 1999 | 212258 |1272915272|
|  China |2000 | 213766 | 1280428583|

## Is the example tidy?

**Question: What variables are associated with the number of TB cases?**

This data is tidy, true or false?

| country | year  | key | value |
|---------|-------|-------|------------|
|Afghanistan |1999 |     cases   |     745
| Afghanistan |1999| population  | 19987071
|  Afghanistan |2000|      cases |      2666
|  Afghanistan| 2000| population |  20595360
|       Brazil| 1999|      cases |     37737
|       Brazil |1999| population | 172006362
|       Brazil| 2000|      cases  |    80488
|       Brazil |2000| population | 174504898
|        China |1999|      cases  |   212258
|       China |1999| population |1272915272
|       China |2000|      cases |    213766
|       China |2000| population| 1280428583

Data set 3 is much easier to work with than the others. 

To work with the other data sets you need to take extra steps, making your code harder to write, and concepts harder to understand.  

The energy you need to manage a poor layout will increase with the size of your data. 

Avoid these difficulties by converting your data into a tidy format at the start of your analysis.

## What other types of data is useful to data scientists?


| Data Type | Example | What are we trying to use it for? |
|:-|:---------------------|:--------------------------------------------|
| Text         | Tweets, scripts, books | Sentiment analysis, other NLP |
| JSON or XML  | Parsing APIs | Gather data, data ingestion process, trend analysis, forecasting |
| HTML         |Web scraping| Get prices of different products, Facebook / LinkedIn contacts and work history|
| Images       |Computer vision|Self-driving cars, building custom shoes, X-rays - diagnostics|

- Text: will be covered in more detail when we're doing Natural Language Processing (NLP)
- JSON: we will talk about nested JSON file today.
- XML and HTML: We saw the basics and we'll talk more about it today.
- Images: will be covered in more detail when we're doing Convolutional Neural Networks (CNNs)

## Different data, different tools

1. Tabular data: `pandas`, `SQL`
* XML and HTML: `xml`
* JSON: `json`
* Can also use `BeautifulSoup` for HTML (will not cover, just so you know it exists)

We will demo these.

## Tabular data using pandas

In [1]:
import pandas as pd

In [2]:
wine_csv = pd.read_csv('data/wine.csv')
wine_csv

   Bottle         Grape     Origin  Alcohol    pH Colour   Aroma
0       1    Chardonnay  Australia    14.23  3.51  White  Floral
1       2  Pinot Grigio      Italy    13.20  3.30  White  Fruity
2       3   Pinot Blanc     France    13.16  3.16  White  Citrus
3       4        Shiraz      Chile    14.91  3.39    Red   Berry
4       5        Malbec  Argentina    13.83  3.28    Red  Fruity

In [3]:

wine_xlsx = pd.read_excel('data/wine.xlsx')
wine_xlsx

   Bottle         Grape     Origin  Alcohol    pH Colour   Aroma
0       1    Chardonnay  Australia    14.23  3.51  White  Floral
1       2  Pinot Grigio      Italy    13.20  3.30  White  Fruity
2       3   Pinot Blanc     France    13.16  3.16  White  Citrus
3       4        Shiraz      Chile    14.91  3.39    Red   Berry
4       5        Malbec  Argentina    13.83  3.28    Red  Fruity

## WARNING

I haven't updated Pandas in a while.

You probably have the newest version. If so, you will need to install the following:

```
# Install openyxl
pip install openpyxl
# set engine parameter to "openpyxl"
import openpyxl
import pandas as pd
pd.read_excel('data/wine.xlsx', engine = 'openpyxl')
```

## Python and Excel
- They are complementary! It's not a competition
- Uses for both
- For example:

In [4]:
wine_2 = pd.read_excel('data/wine_2.xlsx')
wine_2

  This workbook contains data for different wines
0                           Created by John Smith

- What's wrong? What happens when we open the file?

## Tab 1
![tab1](img/Tab1.png)

## Tab 2
![tab2](img/Tab2.png)

## Python and Excel ... continued
- After opening the file, we know that the useful data is on Sheet 2

In [5]:
import pandas as pd
wine_2 = pd.read_excel('data/wine_2.xlsx', sheet_name='DATA') # here, I reference the sheet name
wine_2

   Bottle         Grape     Origin  Alcohol    pH Colour   Aroma
0       1    Chardonnay  Australia    14.23  3.51  White  Floral
1       2  Pinot Grigio      Italy    13.20  3.30  White  Fruity
2       3   Pinot Blanc     France    13.16  3.16  White  Citrus
3       4        Shiraz      Chile    14.91  3.39    Red   Berry
4       5        Malbec  Argentina    13.83  3.28    Red  Fruity

## Data science intro to XML and HTML
- hierarchical collection of elements
- element consists of start tag, content and end tag, and attributes
- tags have names and are delimited with `<` and `>`; end tag with `</`
- attributes added after the tag name within `<` and `>`

For example: `<country name="Canada">` content content `</country>`
- `country` is the tag
- `name="Canada"` is an attribute

**HTML is just XML for webpages.**

## Let's see a HTML example

Let's take a look at an example: https://en.wikipedia.org/wiki/List_of_FIFA_World_Cup_winners
- Use inspect page to see HTML, F12 for Windows Users
- Explain header, body, tags etc.

Reminder of what an XML file looks like

### XML   
• hierarchical description of tagged data  

```
<library>
<book  title = 'For Whom the Bell Tolls'>
<author>
Ernest Hemingway
</author>
</book>
<book>
<title>
Trump: The Art of the Deal
</title>
<author>
Good Question
</author>
</book>
</library>
```

## XML
- Let's take a look at an XML file: https://drive.google.com/file/d/1Nfq42ss8jIqajaAOVdwzW4D3D5oL7Y2t/view
- We use the `xml` package to work with XML

In [6]:
import xml.etree.ElementTree as et

In [7]:
# parses the XML so that it figures out the "tree" of tags
tree = et.parse('data/data.xml')
tree

In [8]:
# get to the root tag of the file
root = tree.getroot()
root

From the root, we can begin to navigate the tree

In [9]:
# get root tag
print("What is the root tag:", root.tag)

# get root attributes
print("Attributes of the root tag:", root.attrib)

# get number of "children"
print("Number of children:", len(root))

What is the root tag: data
Attributes of the root tag: {}
Number of children: 3

In [10]:
# printing out the children of root
for idx in range(len(root)):
    print("tag:", root[idx].tag, "| attribute:", root[idx].attrib)

tag: country | attribute: {'name': 'Liechtenstein'}
tag: country | attribute: {'name': 'Singapore'}
tag: country | attribute: {'name': 'Panama'}

In [11]:
country1 = root[2]
gdppc = country1[2]

print(country1.attrib)
print(gdppc.tag, ":", gdppc.text)

{'name': 'Panama'}
gdppc : 13600

## JSON

Here's some sample JSON: https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/data.json

In [12]:
# You can read from the URL too!!
url = 'https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/data.json'
json_data = pd.read_json(url)
json_data.head()

   integer            datetime  category
0        5 2015-01-01 00:00:00         0
1        5 2015-01-01 00:00:01         0
2        9 2015-01-01 00:00:02         0
3        6 2015-01-01 00:00:03         0
4        6 2015-01-01 00:00:04         0

## JSON ... continued
- `pd.read_json` doesn't work so well with nested JSON...
- Let's take a look at what a nested JSON is: https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/data.json

In [13]:
# an error happens when you run this cell
import pandas as pd 
nested_json = pd.read_json('data/nested.json')
nested_json

ValueError: arrays must all be same length

Instead, you can try this:

In [ ]:
import json

with open('data/nested.json') as file:
    nested_json = json.load(file)

nested_json

- What is the type?

In [ ]:
type(nested_json)

## Nested JSON

In [ ]:
from pandas import json_normalize

In [ ]:
nested_json

In [ ]:

json_normalize(nested_json)

In [ ]:
blog = json_normalize(nested_json, record_path='blog')
blog.head()

In [ ]:
article = json_normalize(nested_json,record_path ='article')
article.head()

In [ ]:
data = [{"state": "Florida", 
        "shortname": "FL",
        "info": {"governor": "Rick Scott", "governor_2": "John Doe"},
        "counties": [{"name": "Dade", "population": 12345},
                     {"name": "Broward", "population": 40000},
                     {"name": "Palm Beach", "population": 60000}]},
       {"state": "Ohio",
        "shortname": "OH",
        "info": {"governor": "John Kasich"},
        "counties": [{"name": "Summit", "population": 1234},
                     {"name": "Cuyahoga", "population": 1337}]}]

In [ ]:
json_normalize(data)
json_normalize(data=data, record_path='counties', meta=['state', 'shortname', ['info', 'governor']])

In [ ]:
json_normalize(data=data, meta=['state', 'shortname'])

In [ ]:
json_normalize(data=data, record_path=['counties'], meta=['state', 'shortname', 'info'])

In [ ]:
json_normalize(data=data, record_path='counties', meta=['state', 'shortname', ['info', 'governor']])

In [ ]:
json_normalize(data=data, record_path='counties', meta=['state', 'shortname', ['info', 'governor_2']], errors='ignore')

## Functions that help you Tidy your Data

* pd.pivot() - Return reshaped DataFrame organized by given index / column values. 
* pd.pivot_table()
* pd.melt()  - Unpivot a DataFrame from wide to long format, optionally leaving identifiers set.
* pd.stack() - Stack the prescribed level(s) from columns to index.
* pd.unstack() - Returns a DataFrame having a new level of column labels whose inner-most level consists of the pivoted index labels.

In [ ]:
import pandas as pd
import numpy as np

tuples = list(zip(*[['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
                   ['one', 'two','one', 'two','one', 'two','one', 'two']]))
tuples

In [ ]:
index = pd.MultiIndex.from_tuples(tuples, names = ['first', 'second'])
index

In [ ]:
stacked = pd.DataFrame(np.random.randn(8,2), index = index, columns=['A', 'B'])
stacked

In [ ]:
stacked.unstack()

In [ ]:
# Level(s) of index to unstack, can pass level name.
stacked.unstack('second')

In [ ]:
df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
                         "bar", "bar", "bar", "bar"],
                   "B": ["one", "one", "one", "two", "two",
                         "one", "one", "two", "two"],
                   "C": ["small", "large", "large", "small",
                         "small", "large", "small", "small",
                         "large"],
                   "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
                   "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})

In [ ]:
df

In [ ]:
pd.pivot_table(df, values='D', index=['A', 'B'],
                    columns=['C'], aggfunc=np.sum)