## Lighthouse Labs
### W02D3 Other Data Types

Instructor: Socorro Dominguez  
January 13, 2020

## Agenda
1. Tabular data and tidy data 
* What other data types?

## What is tabular data?
- each row is a single observation
- variables are in columns

What is **tidy data**? 
- each variable is a single column, and
- each value is a single cell (i.e., its row, column position in the data frame is not shared with another value)

## Tidy data

<img src="https://d33wubrfki0l68.cloudfront.net/6f1ddb544fc5c69a2478e444ab8112fb0eea23f8/91adc/images/tidy-1.png" width="800" />

What is a variable and an observation may depend on your immediate goal.

## Is the example tidy? (True / False)
*Example source: https://garrettgman.github.io/tidying/*

**Question: What variables are associated with the number of TB cases?**


| country | year  | cases_per_capita |
|---------|-------|---|
| Afghanistan | 1999|      745/19987071
|Afghanistan |2000    | 2666/20595360
|      Brazil |1999|   37737/172006362
|      Brazil |2000  | 80488/174504898
|      China |1999| 212258/1272915272
|      China |2000 |213766/1280428583

## Is the example tidy?

**Question: What variables are associated with the number of TB cases?**

This data is tidy, true or false?


| country | cases (year=1999) | cases (year=2000)| population (year=1999) | population (year=2000)|
|---------|-------|-------|-------|-------|
| Afghanistan |   745 |  2666 |  19987071 |  20595360 |
|  Brazil | 37737 | 80488 | 172006362 | 174504898 |
|  China | 212258 | 213766 | 1272915272 | 1280428583 |

## Is the example tidy?

**Question: What variables are associated with the number of TB cases?**

This data is tidy, true or false?

| country | year  | cases | population |
|---------|-------|-------|------------|
| Afghanistan | 1999  |  745  | 19987071|
| Afghanistan | 2000 |  2666 |  20595360|
|Brazil |1999 | 37737  |172006362|
| Brazil| 2000 | 80488 | 174504898|
| China | 1999 | 212258 |1272915272|
|  China |2000 | 213766 | 1280428583|

## Is the example tidy?

**Question: What variables are associated with the number of TB cases?**

This data is tidy, true or false?

| country | year  | key | value |
|---------|-------|-------|------------|
|Afghanistan |1999 |     cases   |     745
| Afghanistan |1999| population  | 19987071
|  Afghanistan |2000|      cases |      2666
|  Afghanistan| 2000| population |  20595360
|       Brazil| 1999|      cases |     37737
|       Brazil |1999| population | 172006362
|       Brazil| 2000|      cases  |    80488
|       Brazil |2000| population | 174504898
|        China |1999|      cases  |   212258
|       China |1999| population |1272915272
|       China |2000|      cases |    213766
|       China |2000| population| 1280428583

Data set 3 is much easier to work with than the others. 

To work with the other data sets you need to take extra steps, making your code harder to write, and concepts harder to understand.  

The energy you need to manage a poor layout will increase with the size of your data. 

Avoid these difficulties by converting your data into a tidy format at the start of your analysis.

## Functions that help you Tidy your Data

* pd.pivot() - Return reshaped DataFrame organized by given index / column values. 
* pd.melt()  - Unpivot a DataFrame from wide to long format, optionally leaving identifiers set.
* pd.stack() - Stack the prescribed level(s) from columns to index.
* pd.unstack() - Returns a DataFrame having a new level of column labels whose inner-most level consists of the pivoted index labels.

In [1]:
import pandas as pd
import numpy as np

tuples = list(zip(*[['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'],
                   ['one', 'two','one', 'two','one', 'two','one', 'two']]))
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [2]:
index = pd.MultiIndex.from_tuples(tuples, names = ['first', 'second'])
index

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [3]:
stacked = pd.DataFrame(np.random.randn(8,2), index = index, columns=['A', 'B'])
stacked

                     A         B
first second
bar   one     1.337156  2.095721
      two     0.873816  0.219088
baz   one     1.880390  0.747297
      two    -0.056553  0.882400
foo   one    -0.872153 -1.422677
      two    -0.979361 -0.748775
qux   one    -0.418059 -0.898979
      two     0.499439  0.624966

In [4]:
stacked.unstack()

               A                   B
second       one       two       one       two
first
bar     1.337156  0.873816  2.095721  0.219088
baz     1.880390 -0.056553  0.747297  0.882400
foo    -0.872153 -0.979361 -1.422677 -0.748775
qux    -0.418059  0.499439 -0.898979  0.624966

In [5]:
# Level(s) of index to unstack, can pass level name.
stacked.unstack(0)

               A                                       B                      \
first        bar       baz       foo       qux       bar       baz       foo
second
one     1.337156  1.880390 -0.872153 -0.418059  2.095721  0.747297 -1.422677
two     0.873816 -0.056553 -0.979361  0.499439  0.219088  0.882400 -0.748775


first        qux
second
one    -0.898979
two     0.624966

In [6]:
df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
                         "bar", "bar", "bar", "bar"],
                   "B": ["one", "one", "one", "two", "two",
                         "one", "one", "two", "two"],
                   "C": ["small", "large", "large", "small",
                         "small", "large", "small", "small",
                         "large"],
                   "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
                   "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})

In [7]:
df

     A    B      C  D  E
0  foo  one  small  1  2
1  foo  one  large  2  4
2  foo  one  large  2  5
3  foo  two  small  3  5
4  foo  two  small  3  6
5  bar  one  large  4  6
6  bar  one  small  5  8
7  bar  two  small  6  9
8  bar  two  large  7  9

In [8]:
pd.pivot_table(df, values='D', index=['A', 'B'],
                    columns=['C'], aggfunc=np.sum)

C        large  small
A   B
bar one    4.0    5.0
    two    7.0    6.0
foo one    4.0    1.0
    two    NaN    6.0

## Concatenating and merging datasets.

In [9]:
# Toy data frame
df = pd.DataFrame(np.random.randn(10,4))
df

          0         1         2         3
0 -2.583543  1.568562  1.595105  1.029892
1  0.126063  0.070805  0.787584 -0.754414
2 -1.285688  2.505150  1.592884 -1.229214
3 -1.516240  1.317420  0.530656  0.959007
4 -0.562241 -0.444145  0.005021  0.797190
5  3.066760 -0.960938 -0.947382  1.045000
6  1.692515 -0.766184 -0.747630  0.120424
7  1.089003 -1.739968 -1.152337  0.178162
8 -0.814739  0.072523  1.205224  0.621660
9  2.044494 -0.229535 -0.521693  0.452775

In [10]:
pieces = [df[:3], df[3:7], df[7:]]

In [11]:
pieces

[          0         1         2         3
 0 -2.583543  1.568562  1.595105  1.029892
 1  0.126063  0.070805  0.787584 -0.754414
 2 -1.285688  2.505150  1.592884 -1.229214,
           0         1         2         3
 3 -1.516240  1.317420  0.530656  0.959007
 4 -0.562241 -0.444145  0.005021  0.797190
 5  3.066760 -0.960938 -0.947382  1.045000
 6  1.692515 -0.766184 -0.747630  0.120424,
           0         1         2         3
 7  1.089003 -1.739968 -1.152337  0.178162
 8 -0.814739  0.072523  1.205224  0.621660
 9  2.044494 -0.229535 -0.521693  0.452775]

In [12]:
pd.concat(pieces)

          0         1         2         3
0 -2.583543  1.568562  1.595105  1.029892
1  0.126063  0.070805  0.787584 -0.754414
2 -1.285688  2.505150  1.592884 -1.229214
3 -1.516240  1.317420  0.530656  0.959007
4 -0.562241 -0.444145  0.005021  0.797190
5  3.066760 -0.960938 -0.947382  1.045000
6  1.692515 -0.766184 -0.747630  0.120424
7  1.089003 -1.739968 -1.152337  0.178162
8 -0.814739  0.072523  1.205224  0.621660
9  2.044494 -0.229535 -0.521693  0.452775

In [13]:
left = pd.DataFrame({'key': ['foo', 'bar'], 'lval':[1,2]})
right = pd.DataFrame({'key': ['foo', 'bar'], 'lval':[4,5]})

In [14]:
left

   key  lval
0  foo     1
1  bar     2

In [15]:
right

   key  lval
0  foo     4
1  bar     5

In [16]:
pd.merge(left, right, on = 'key')

   key  lval_x  lval_y
0  foo       1       4
1  bar       2       5

## What other types of data is useful to data scientists?


| Data Type | Example | What are we trying to use it for? |
|:-|:---------------------|:--------------------------------------------|
| Text         | Tweets, scripts, books | Sentiment analysis, other NLP |
| JSON or XML  | Parsing APIs | Gather data, data ingestion process, trend analysis, forecasting |
| HTML         |Web scraping| Get prices of different products, Facebook / LinkedIn contacts and work history|
| Images       |Computer vision|Self-driving cars, building custom shoes, X-rays - diagnostics|

- Text: will be covered in more detail when we're doing Natural Language Processing (NLP)
- JSON: we will talk about nested JSON file today.
- XML and HTML: We saw the basics and we'll talk more about it today.
- Images: will be covered in more detail when we're doing Convolutional Neural Networks (CNNs)

## Data science intro to XML and HTML
- hierarchical collection of elements
- element consists of start tag, content and end tag, and attributes
- tags have names and are delimited with `<` and `>`; end tag with `</`
- attributes added after the tag name within `<` and `>`

For example: `<country name="Canada">` content content `</country>`
- `country` is the tag
- `name="Canada"` is an attribute

**HTML is just XML for webpages.**

## Let's see a HTML example

Let's take a look at an example: https://en.wikipedia.org/wiki/List_of_FIFA_World_Cup_winners
- Use inspect page to see HTML, F12 for Windows Users
- Explain header, body, tags etc.

Reminder of what an XML file looks like

### XML   
â€¢ hierarchical description of tagged data  

```
<library>
<book>
<title>
For Whom the Bell Tolls
</title>
<author>
Ernest Hemingway
</author>
</book>
<book>
<title>
Trump: The Art of the Deal
</title>
<author>
Good Question
</author>
</book>
</library>
```

## Different data, different tools

1. Tabular data: `pandas`, `SQL`
* JSON: `json`
* XML and HTML: `xml`
* Can also use `BeautifulSoup` for HTML (will not cover, just so you know it exists)

We will demo these.

## Tabular data using pandas

In [1]:
import pandas as pd

In [2]:
wine_csv = pd.read_csv('data/wine.csv')
wine_csv

   Bottle         Grape     Origin  Alcohol    pH Colour   Aroma
0       1    Chardonnay  Australia    14.23  3.51  White  Floral
1       2  Pinot Grigio      Italy    13.20  3.30  White  Fruity
2       3   Pinot Blanc     France    13.16  3.16  White  Citrus
3       4        Shiraz      Chile    14.91  3.39    Red   Berry
4       5        Malbec  Argentina    13.83  3.28    Red  Fruity

In [3]:
wine_xlsx = pd.read_excel('data/wine.xlsx')
wine_xlsx

   Bottle         Grape     Origin  Alcohol    pH Colour   Aroma
0       1    Chardonnay  Australia    14.23  3.51  White  Floral
1       2  Pinot Grigio      Italy    13.20  3.30  White  Fruity
2       3   Pinot Blanc     France    13.16  3.16  White  Citrus
3       4        Shiraz      Chile    14.91  3.39    Red   Berry
4       5        Malbec  Argentina    13.83  3.28    Red  Fruity

## Python and Excel
- They are complementary! It's not a competition
- Uses for both
- For example:

In [4]:
wine_2 = pd.read_excel('data/wine_2.xlsx')
wine_2

  This workbook contains data for different wines
0                           Created by John Smith

- What's wrong? What happens when we open the file?

## Tab 1
![tab1](img/Tab1.png)

## Tab 2
![tab2](img/Tab2.png)

## Python and Excel ... continued
- After opening the file, we know that the useful data is on Sheet 2

In [4]:
import pandas as pd
wine_2 = pd.read_excel('data/wine_2.xlsx', sheet_name='DATA') # here, I reference the sheet name
wine_2

   Bottle         Grape     Origin  Alcohol    pH Colour   Aroma
0       1    Chardonnay  Australia    14.23  3.51  White  Floral
1       2  Pinot Grigio      Italy    13.20  3.30  White  Fruity
2       3   Pinot Blanc     France    13.16  3.16  White  Citrus
3       4        Shiraz      Chile    14.91  3.39    Red   Berry
4       5        Malbec  Argentina    13.83  3.28    Red  Fruity

## JSON

Here's some sample JSON: https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/data.json

In [6]:
# You can read from the URL too!!
url = 'https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/data.json'
json_data = pd.read_json(url)
json_data.head()

   integer            datetime  category
0        5 2015-01-01 00:00:00         0
1        5 2015-01-01 00:00:01         0
2        9 2015-01-01 00:00:02         0
3        6 2015-01-01 00:00:03         0
4        6 2015-01-01 00:00:04         0

## JSON ... continued
- `pd.read_json` doesn't work so well with nested JSON...
- Let's take a look at what a nested JSON is: https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/data.json

In [3]:
# an error is supposed to happen when you run this cell
import pandas as pd 
nested_json = pd.read_json('data/nested.json')
nested_json

ValueError: arrays must all be same length

Instead, you can try this:

In [1]:
import json

with open('data/nested.json') as file:
    nested_json = json.load(file)

nested_json

{'article': [{'id': '01',
   'language': 'JSON',
   'edition': 'first',
   'author': 'Allen'},
  {'id': '02',
   'language': 'Python',
   'edition': 'second',
   'author': 'Aditya Sharma'}],
 'blog': [{'name': 'Datacamp', 'URL': 'datacamp.com'}]}

- What is the type?

In [9]:
type(nested_json)

dict

## XML
- Let's take a look at an XML file: https://drive.google.com/file/d/1Nfq42ss8jIqajaAOVdwzW4D3D5oL7Y2t/view
- We use the `xml` package to work with XML

In [6]:
import xml.etree.ElementTree as et

In [7]:
# parses the XML so that it figures out the "tree" of tags
tree = et.parse('data/data.xml')
tree

In [8]:
# get to the root tag of the file
root = tree.getroot()
root

From the root, we can begin to navigate the tree

In [9]:
# get root tag
print("What is the root tag:", root.tag)

# get root attributes
print("Attributes of the root tag:", root.attrib)

# get number of "children"
print("Number of children:", len(root))

What is the root tag: data
Attributes of the root tag: {}
Number of children: 3

In [23]:
# printing out the children of root
for idx in range(len(root)):
    print("tag:", root[idx].tag, "| attribute:", root[idx].attrib)

tag: country | attribute: {'name': 'Liechtenstein'}
tag: country | attribute: {'name': 'Singapore'}
tag: country | attribute: {'name': 'Panama'}

In [13]:
country1 = root[2]
rank = country1[2]

print(country1.attrib)
print(rank.tag, ":", rank.text)

{'name': 'Panama'}
gdppc : 13600

## Nested JSON

In [15]:
from pandas import json_normalize

In [16]:
nested_json

{'article': [{'id': '01',
   'language': 'JSON',
   'edition': 'first',
   'author': 'Allen'},
  {'id': '02',
   'language': 'Python',
   'edition': 'second',
   'author': 'Aditya Sharma'}],
 'blog': [{'name': 'Datacamp', 'URL': 'datacamp.com'}]}

In [17]:
json_normalize(nested_json)

,article,blog
0,"[{'id': '01', 'language': 'JSON', 'edition': '...","[{'name': 'Datacamp', 'URL': 'datacamp.com'}]"

In [18]:
blog = json_normalize(nested_json, record_path='blog')
blog.head()

       name           URL
0  Datacamp  datacamp.com

In [19]:
article = json_normalize(nested_json,record_path ='article')
article.head()

   id language edition         author
0  01     JSON   first          Allen
1  02   Python  second  Aditya Sharma

In [20]:
data = [{"state": "Florida", 
        "shortname": "FL",
        "info": {"governor": "Rick Scott"},
        "counties": [{"name": "Dade", "population": 12345},
                     {"name": "Broward", "population": 40000},
                     {"name": "Palm Beach", "population": 60000}]},
       {"state": "Ohio",
        "shortname": "OH",
        "info": {"governor": "John Kasich"},
        "counties": [{"name": "Summit", "population": 1234},
                     {"name": "Cuyahoga", "population": 1337}]}]

In [21]:
json_normalize(data)
json_normalize(data=data, record_path='counties', meta=['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

In [22]:
json_normalize(data=data, meta=['state', 'shortname'])

,state,shortname,counties,info.governor
0,Florida,FL,"[{'name': 'Dade', 'population': 12345}, {'name...",Rick Scott
1,Ohio,OH,"[{'name': 'Summit', 'population': 1234}, {'nam...",John Kasich